PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
API_PREFIX=/api/v1

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/myhealthcare_db?schema=public
REDIS_URL=redis://localhost:6379

JWT_SECRET=myhealthcare_jwt_secret_key_change_in_production_2026
JWT_REFRESH_SECRET=myhealthcare_jwt_refresh_secret_key_2026
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

PAYMENT_PROVIDER=stripe
PAYMENT_KEY_ID=pk_test_sample_key
PAYMENT_KEY_SECRET=sk_test_sample_secret

EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=sample_mailtrap_user
EMAIL_PASSWORD=sample_mailtrap_pass
EMAIL_FROM=noreply@myhealthcare.com

CLOUDINARY_CLOUD_NAME=sample_cloud
CLOUDINARY_API_KEY=123456789
CLOUDINARY_API_SECRET=sample_secret
